body {
  width: 100%; height: 100vh;
  color: hslac($white, 1);
  font-family: $font-main;
  background: hslac($black, 1);
  overflow: hidden;
}
.view-width {
  width: $view-width !important;
}
.view-width-wide {
  width: $view-width !important;
}
.pageshadow {
  bottom: 0;
  width: 100%; height: 30vh;
  position: fixed;
  background: linear-gradient(0, hslac($black, 1) 0, hslac($black, 0) 100%);
  pointer-events: none;
  opacity: .5;
  z-index: 9999;
}

.blackbutton {
  padding: 1.25em 2em;
  position: relative;
  font-family: $font-main;
  font-size: $paragraph;
  color: hslac($white, 1);
  background-color: hslac($black, 0);
  border: 1px solid hslac($white, .1);
  border-radius: 5em;
  text-decoration: none;
  backdrop-filter: blur(1.5rem) brightness(70%);
  cursor: pointer;
  z-index: 6;
  @include flex-center();

  &-shadow {
    top: 1em;
    width: 100%; height: 100%;
    position: absolute;
    background-color: hslac($black, .35);
    transform: scale(.9, .9);
    filter: blur(1.5rem);
    z-index: -1;
  }
}
.whitebutton {
  padding: 1.25em 2em;
  position: relative;
  font-family: $font-main;
  font-size: $paragraph;
  color: hslac($white, 1);
  background-color: hslac($black, 0);
  border: 1px solid hslac($white, .1);
  border-radius: 5em;
  text-decoration: none;
  backdrop-filter: blur(1.5rem) brightness(150%);
  cursor: pointer;
  z-index: 6;
  @include flex-center();

  &-shadow {
    width: 100%; height: 100%;
    position: absolute;
    background-color: hslac($black, .4);
    border-radius: inherit;
    filter: blur(2em);
    transform: scale(.95, .9);
    z-index: -1;
  }
}
.mainbutton {
  padding: 1.25em 2em;
  position: relative;
  font-family: $font-main;
  font-size: $paragraph-large;
  color: hslac($white, 1);
  text-decoration: none;
  background-color: hslac($primary, 1);
  border: none;
  border-radius: 5em;
  cursor: pointer;
}

.verified-icon {
  #a stop:first-child {
    stop-color: $verified-yellow;
  }
  #a stop:nth-child(2) {
    stop-color: $verified-orange;
  }
  #a stop:nth-child(3) {
    stop-color: $verified-brown;
  }
  #a stop:nth-child(4),
  #a stop:last-child {
    stop-color: $verified-border;
  }
  #b stop:first-child {
    stop-color: $verified-light;
  }
  #b stop:nth-child(2),
  #b stop:last-child {
    stop-color: $verified-dark;
  }
  path:nth-child(1) {
    fill: url(#a);
  }
  path:nth-child(2) {
    fill: url(#b);
  }
  path:nth-child(3) {
    fill: $verified-brown2;
  }
}

.page {
  padding: 0 1em;
  width: 100%; height: calc(100vh - $navbar-height);
  display: grid;
  grid-template-columns: auto 1fr auto;
  border-radius: 2em;
  overflow: hidden;
  &-center {
    position: relative;
    background-color: hslac($background, 1);
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-gutter: stable;
    scrollbar-width: none;
    transition: opacity .3s cubic-bezier($transition-main, 1);

    &:hover::-webkit-scrollbar-thumb {
      background-color: hslac($white, .3);
    }
    &::-webkit-scrollbar-thumb {
      display: none;
    }
    > div:nth-child(3) {
      padding: 3em 0 0 0;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-background-clip: text;
  -webkit-text-fill-color: hslac($white, 1);
  color: hslac($white, 1);
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 50px 50px hslac($white, .1);
}

::selection {
  color: hslac($white, 1);
  background: hslac($primary, 1);
}

::-webkit-scrollbar {
  width: 8px; height: 8px;
}
::-webkit-scrollbar-button {
  width: 25px; height: 25px;
}
::-webkit-scrollbar-thumb {
  background: hslac($white, 0);
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: hslac($white, 1);
}
::-webkit-scrollbar-thumb:active {
  background: hslac($white, 1);
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5em;
}
::-webkit-scrollbar-corner {
  background: transparent;
}