body {
  width: 100%;
  color: hslac($white, 1);
  font-family: $font-main;
  background: hslac($background, 1);
  overflow-x: hidden;
}
.view-width {
  width: $view-width !important;
  max-width: $max-view-width;
}
.view-width-wide {
  width: $view-width !important;
}
.pageshadow {
  bottom: 0;
  width: 100%; height: 30vh;
  position: fixed;
  background: linear-gradient(0, hslac($black, 1) 0, hslac($black, 0) 100%);
  pointer-events: none;
  z-index: 9999;
}

.blackbutton {
  padding: 1em 2em;
  position: relative;
  font-family: $font-main;
  color: hslac($white, 1);
  background-color: hslac($black, .5);
  border: 1px solid hslac($white, .5);
  border-radius: 5em;
  backdrop-filter: blur(1.5rem);
  cursor: pointer;
  z-index: 6;
  @include flex-center();

  &-shadow {
    top: 1em;
    width: 100%; height: 100%;
    position: absolute;
    background-color: hslac($black, .5);
    transform: scale(.9, .9);
    filter: blur(1.5rem);
    z-index: -1;
  }
}
.mainbutton {
  padding: 1em 2em;
  position: relative;
  font-family: $font-main;
  color: hslac($white, 1);
  background-color: hslac($primary, 1);
  border: none;
  border-radius: 5em;
  cursor: pointer;
}

::selection {
  color: hslac($white, 1);
  background: hslac($primary, 1);
}
