/* Main */
$primary: hsl(351.8, 84.3%, 57.5%);
$background: hsl(0, 4%, 5%);
$background-gray: hsl(0, 0%, 7%);
$background-lightgray: hsl(0, 0%, 12%);
$background-extralightgray: hsl(0, 0%, 16%);
$lm-background: hsl(0, 100%, 98%);
$lm-background-gray: hsl(0, 0%, 88%);
$lm-background-lightgray: hsl(0, 0%, 82%);
$lm-background-extralightgray: hsl(0, 0%, 78%);
/* Colors */
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$quite-gray: hsl(0, 0%, 50%);
$grooble: hsl(236, 9%, 66%);
$red: hsl(352, 100%, 53%);
$orange: hsl(22, 100%, 55%);
$yellow: hsl(45, 100%, 50%);
$green: hsl(128, 100%, 50%);
$teal: hsl(156, 100%, 50%);
$lightblue: hsl(202, 83%, 76%);
$blue: hsl(206, 100%, 50%);
$lightpurple: hsl(263, 7%, 66%);
$purple: hsl(276, 100%, 50%);
$pink: hsl(322, 100%, 74%);
/* Verified */
$verified-yellow: #f4e72a;
$verified-orange: #cd8105;
$verified-brown: #cb7b00;
$verified-border: #f4ec26;
$verified-light: #f9e87f;
$verified-dark: #e2b719;
$verified-brown2: #d18800;
