/* Main */
$primary: hsl(351.8, 84.3%, 57.5%);
$background: hsl(0, 4%, 5%);
/* Colors */
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$quite-gray: hsl(0, 0%, 50%);
$grooble: hsl(236, 9%, 66%);
$red: hsl(352, 100%, 53%);
$orange: hsl(22, 100%, 55%);
$yellow: hsl(52, 100%, 50%);
$green: hsl(128, 100%, 50%);
$teal: hsl(156, 100%, 50%);
$lightblue: hsl(202, 83%, 76%);
$blue: hsl(206, 100%, 50%);
$lightpurple: hsl(263, 7%, 66%);
$purple: hsl(276, 100%, 50%);
$pink: hsl(322, 100%, 74%);
