/* Flexbox */
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@mixin flex-left-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
@mixin flex-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@mixin flex-right-start {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
/* Columns */
@mixin flex-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@mixin flex-col-left {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}
@mixin flex-col-left-ns {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
@mixin flex-col-right {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}
@mixin flex-col-right-ns {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}
@mixin flex-col-start-center {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
@mixin flex-col-end-center {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}
/* Spacings */
@mixin flex-space-bet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-space-bet-start-col {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

@function hslac($color, $alpha) {
  @if (type-of($color) == "color") {
    @return hsla(hue($color), saturation($color), lightness($color), $alpha);
  }
  @else {
    @error "You didn't pass a color object";
  }
}

$lightMode: true;

@mixin lightMode {
  @if($lightMode) {
    @media(prefers-color-scheme: light) {
      @content;
    }
  }
}
