/* Sizes */
$heading-xlarge: clamp(3.8rem, 3.2399999999999998rem + 2.8vw, 6.9rem);
$heading-large: clamp(2.8rem, 2.2399999999999998rem + 2.8vw, 5.6rem);
$heading-medium: clamp(2rem, 1.68rem + 1.6vw, 3.6rem);
$heading-small: clamp(1.8rem, 1.68rem + 0.59vw, 2.4rem);
$paragraph-xlarge: clamp(1.69rem, 1.578rem + 1.51vw, 1.75rem);
$paragraph-large: clamp(1.4rem, 1.278rem + 1.21vw, 1.55rem);
$paragraph-medium: clamp(1.2rem, 1.178rem + 1.11vw, 1.35rem);
$paragraph: clamp(1rem, 0.978rem + 0.11vw, 1.11rem);
$paragraph-small: clamp(0.8rem, 0.778rem + 0.088vw, 0.88rem);
$paragraph-xsmall: clamp(0.6rem, 0.578rem + 0.066vw, 0.66rem);
$navbar-height: 5em;
/* misc */
$transition-main: .175, .685, .32;
$transition-smooth: .175, .285, .32;
$transition-menu: .75, .185, .144032;
$view-width-padding: 6rem;
$view-width: calc(100% - $view-width-padding);
$max-view-width: 1496px;
/* Fonts */
$font-main: 'Montserrat', sans-serif;
/* Breakpoints */
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-xmedium: 1220px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-msmall: 756px;
$layout-breakpoint-xsmall: 580px;