.creators {
  margin: 3em 0 0 0;
  width: 100%;
  @include flex-center();

  &-inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(28em, 1fr));
    gap: 1.5em;
    &-creator {
      width: 100%;
      position: relative;
      border-radius: 2em;
      text-decoration: none;
      overflow: hidden;
      @include flex-left-start-end();

      &-inner {
        margin: 1em;
        position: absolute;
        gap: 1em;
        z-index: 5;
        @include flex-center();

        &-name {
          padding: 0 1em 0 0;
          position: relative;
          color: hslac($white, 1);
          font-size: $paragraph-large;
          font-weight: 800;
          text-decoration: none;
          gap: .25em;
          z-index: 5;
          @include flex-left();

          svg, img {
            width: $paragraph-large;
          }
        }
        &-username {
          position: relative;
          color: hslac($white, .5);
          font-size: $paragraph;
          font-weight: 500;
          text-decoration: none;
          z-index: 5;
        }
        &-picture {
          width: 5em;
          position: relative;
          border-radius: 50%;
          z-index: 5;
        }
      }
      &-overlay {
        width: 100%; height: 100%;
        position: absolute;
        background: linear-gradient(7deg, hslac($black, .65) 0, hslac($black, 0) 100%);
        z-index: 3;
      }
      &-background {
        width: 100%;
        position: relative;
      }
    }
  }
}