.navbar {
  top: 0;
  width: 100%; height: calc($navbar-height + 2em);
  position: relative;
  background-color: hslac($black, 1);
  z-index: 10000;
  @include flex-center();
  @media (max-width: $layout-breakpoint-medium) {
    top: 3em;
  }

  &-inner {
    margin: 2em 0; padding: 0 2em;
    width: 100%; height: $navbar-height;
    position: relative;
    @include flex-center();

    &-padding {
      padding: 0 1em;
      width: 100%; height: 100%;
      gap: 3em;
      @include flex-space-bet();
    }
    &-left {
      &-link {
        svg {
          height: calc($navbar-height / 1.65);
          path {
            fill: hslac($white, 1);
          }
        }
      }
    }
    &-center {
      height: 100%;
      position: relative;
      z-index: 10005;
      @include flex-center();

      &-searchbar {
        width: 50em;
        height: 100%;
        position: relative;
        @include flex-center();

        &-icon {
          right: 2em;
          height: 2em;
          position: absolute;
          cursor: pointer;
          z-index: 10007;
          #search-inner {
            stroke: hslac($white, .7);
          }
        }
        &-input {
          width: 100%; height: 100%;
          padding: 0 3em 0 1.25em;
          font-family: $font-main;
          color: hslac($white, 1);
          font-size: $paragraph-large;
          font-weight: 300;
          background-color: hslac($black, 0);
          border: 1px solid hslac($white, .1);
          border-radius: 5em;
          backdrop-filter: blur(.5rem) brightness(70%);
          transition: all .3s cubic-bezier($transition-main, 1);
          z-index: 10005;

          &::placeholder {
            color: hslac($white, .5);
          }
          &:focus {
            border: 1px solid hslac($white, .3);
            outline: none;
          }
        }
      }
    }
    &-right {
      height: 100%;
      position: relative;
      z-index: 10005;
      &-profile {
        height: 100%;
        gap: .25em;
        @include flex-center();

        &-container {
          height: calc(100% - 1em);
          aspect-ratio: 1 / 1;
          position: relative;
          border-radius: 50%;
          overflow: hidden;
          cursor: pointer;
          z-index: 10005;
          transition: all .25s cubic-bezier($transition-main, 1);
          @include flex-center();

          &:hover {
            opacity: .5;
          }
          &-image {
            min-width: 100%; min-height: 100%;
            max-width: 105%;
            position: absolute;
            object-fit: cover;
          }
        }
        &-menu {
          top: calc($navbar-height + 1em);
          width: calc(100% - 4em);
          padding: 2em 2em 2.5em 2em;
          position: absolute;
          background-color: hslac($black, 0);
          border: 1px solid hslac($white, .1);
          border-radius: 3rem;
          backdrop-filter: blur(1.5rem) brightness(60%);
          clip-path: circle(0 at 50% 0);
          gap: 2em;
          opacity: 1;
          pointer-events: none;
          z-index: 10007;
          @include flex-col();

          &-shadow {
            top: 1em;
            width: 100%; height: 100%;
            position: absolute;
            background-color: hslac($black, .35);
            transform: scale(.98, .98);
            filter: blur(1.5rem);
            z-index: -1;
          }
          &-top {
            width: 100%;
            display: grid;
            grid-template-columns: auto 1fr auto;
            place-items: center;
            gap: 1em;

            &-image {
              width: calc($navbar-height - 1em);
              height: auto;
            }
            &-text {
              width: 100%;
              gap: .25em;
              @include flex-col-left();

              &-username {
                text-decoration: none;
                gap: .25em;
                opacity: 1;
                transition: all .25s cubic-bezier($transition-main, 1);
                @include flex-left();

                &:hover {
                  opacity: .5;
                }
                span {
                  width: 100%;
                  color: hslac($white, 1);
                  font-size: $paragraph-xlarge;
                  white-space: normal;
                  font-weight: 700;
                  text-decoration: none;
                }
                svg {
                  width: $paragraph-xlarge;
                }
              }
              &-link {
                color: hslac($white, .5);
                font-size: $paragraph;
                font-weight: 300;
                text-decoration: none;
                opacity: 1;
                transition: all .25s cubic-bezier($transition-main, 1);
                &:hover {
                  opacity: .5;
                }
              }
            }
            .blackbutton {
              font-weight: 300;
            }
            @media (max-width: $layout-breakpoint-xsmall) {
              .blackbutton {
                display: none;
              }
            }
          }
          &-center {
            padding: 1em 0;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr auto;
            place-items: flex-start;
            align-items: center;
            @media (max-width: $layout-breakpoint-xsmall) {
              grid-template-columns: 1fr;
              place-items: center;
              gap: 2em;
            }

            &-left {
              gap: 1em;
              @include flex-left();

              &-link {
                height: 4.5em;
                aspect-ratio: 1 / 1;
                position: relative;
                background-color: hslac($black, 0);
                border: 1px solid hslac($white, 0);
                border-radius: 50%;
                backdrop-filter: blur(.5rem) invert(50%);
                cursor: pointer;
                transition: opacity .3s cubic-bezier($transition-main, 1), transform .3s cubic-bezier($transition-main, 1);
                @include flex-center();

                &-bigdot {
                  bottom: -.35em;
                  position: absolute;
                  z-index: 10007;
                  @include flex-center();

                  span {
                    padding: .5em 1em .25em .9em;
                    font-size: $paragraph-small;
                    background-color: hslac($primary, 1);
                    border-radius: 5em;
                  }
                }
                svg {
                  width: calc($navbar-height - 4em);
                  g {
                    stroke: hslac($white, .7);
                  }
                }
              }
            }
            &-right {
              &-filter {
                gap: 1em;
                @include flex-left();

                svg {
                  width: 2em;
                  g {
                    g {
                      stroke: hslac($white, 1);
                    }
                  }
                }
                span {
                  color: hslac($white, 1);
                }
                &-switch {
                  input[type="checkbox"] {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 4em; height: 2em;
                    position: relative;
                    background-color: hslac($black, 0);
                    border: 1px solid hslac($white, .1);
                    backdrop-filter: blur(.5rem) brightness(70%);
                    outline: none;
                    border-radius: 5em;
                    cursor: pointer;
                    transition: all .5s cubic-bezier($transition-main, 1);
                  }
                  input[type="checkbox"]::before {
                    content: "";
                    top: .3em; left: .3em;
                    width: 1.25em; height: 1.25em;
                    position: absolute;
                    background-color: hslac($white, .1);
                    border: 1px solid hslac($white, .1);
                    border-radius: 50%;
                    transition: all .5s cubic-bezier($transition-main, 1);
                  }
                  input[type="checkbox"]:checked::before {
                    transform: translateX(1.9em);
                    background-color: hslac($white, .7);
                    border: 1px solid hslac($white, .1);
                  }
                  input[type="checkbox"]:checked {
                    background-color: hslac($black, .35);
                  }
                }
              }
            }
          }
          &-bottom {
            width: 100%;
            gap: 1em;
            @include flex-col();

            .list-2 {
              grid-template-columns: repeat(2, 1fr);
              @media (max-width: $layout-breakpoint-xsmall) {
                grid-template-columns: 1fr;
              }
            }
            .list-1 {
              grid-template-columns: 1fr;
            }
            &-list {
              padding: 0;
              width: 100%;
              display: grid;
              gap: 1em;

              &-item {
                padding: 1em 1.5em;
                width: 100%;
                font-size: $paragraph-medium;
                font-weight: 500;
                color: hslac($white, 1);
                text-decoration: none;
                background-color: hslac($black, 0);
                border: 1px solid hslac($white, .1);
                backdrop-filter: blur(1.5rem) invert(30%);
                border-radius: 5rem;
                gap: .75em;
                cursor: pointer;
                @include flex-left();

                svg {
                  width: 1.75em;
                  g {
                    g {
                      stroke: hslac($white, 1);
                    }
                  }
                }
              }
              &-item-last {
                padding: 1em 1.5em;
                width: 100%;
                font-size: $paragraph-medium;
                font-weight: 500;
                background-color: hslac($primary, 1);
                border: 1px solid hslac($primary, 1);
                border-radius: 5rem;
                gap: .75em;
                cursor: pointer;
                @include flex-left();

                svg {
                  width: 1.75em;
                  g {
                    g {
                      stroke: hslac($white, 1);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.sidebar {
  width: 100%; height: calc(100vh - $navbar-height);
  position: relative;
  background-color: hslac($black, 1);
  &-inner {
    height: 100%;
    background-color: hslac($background-gray, 1);
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-gutter: stable;
    scrollbar-width: none;
  }
}
.sidebarright {
  &-resize {
    top: 0; left: -1em;
    width: 1em; height: 100%;
    position: absolute;
    cursor: ew-resize;
    user-select: none;
  }
}
.sidebar-right {
  max-width: 50em;
  min-width: 30em;
  @include flex-col-start-center();

  &-inner {
    > div:nth-child(3) {
      padding: 1.5em 0 0 0;
    }
  }
  &-menu {
    padding: 1.5em;
    width: 100%;
    &-inner {
      width: 100%;
      gap: 3em;
      @include flex-col();

      &-top {
        width: 100%;
        @include flex-left();

        &-left {
          padding: 1em;
          width: 100%;
          position: relative;
          border-radius: 2em;
          text-decoration: none;
          gap: 1em;
          overflow: hidden;
          @include flex-col();

          &-container {
            width: 100%;
            position: relative;
          }
          &-overlay {
            width: 100%; height: 100%;
            filter: brightness(70%);
            mask-image: linear-gradient(hsl(0, 0%, 0%) 0, hsl(0, 0%, 0%, 0) 100%);
            position: absolute;
            object-fit: cover;
            z-index: 3;
          }
          &-background {
            height: 100%;
            filter: brightness(70%);
            mask-image: linear-gradient(hsl(0, 0%, 0%)0 , hsl(0, 0%, 0%, 0) 100%);
            position: absolute;
            object-fit: cover;
          }
          &-inner {
            width: 100%;
            display: grid;
            position: relative;
            grid-template-columns: 5em 1fr;
            place-content: center;
            text-decoration: none;
            gap: 1em;

            &-image {
              width: 100%;
              border-radius: 50%;
              position: relative;
              z-index: 5;
            }
            &-text {
              position: relative;
              gap: .2em;
              z-index: 5;
              @include flex-col-left-ns();

              &-title {
                color: hslac($white, 1);
                font-size: $paragraph-large;
                font-weight: 700;
              }
              &-subtitle {
                color: hslac($white, .5);
                font-size: $paragraph;
                font-weight: 500;
                transition: all .3s cubic-bezier($transition-main, 1);
              }
            }
          }
        }
      }
      &-center {
        width: 100%;
        &-grid {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 1em;

          .blackbutton, .mainbutton {
            padding: 1.25em 2em;
            font-size: $paragraph-medium;
            svg {
              g {
                g {
                  stroke: hslac($white, 1);
                }
              }
            }
          }
          .blackbutton {
            gap: .5em;
            @include flex-left();
          }
          .mainbutton {
            gap: .5em;
            @include flex-left();
          }
        }
      }
    }
  }
}
.sidebarleft {
  &-resize {
    top: 0; right: -1em;
    width: 1em; height: 100%;
    position: absolute;
    cursor: ew-resize;
    user-select: none;
  }
}
.sidebar-left {
  max-width: 40em;
  min-width: 5em;
  @include flex-col-start-center();

  &-inner {
    > div:nth-child(3) {
      padding: 1.5em 0 0 0;
    }
  }
  &-menu {
    padding: 1.5em;
    width: 100%;
    &-list {
      width: 100%;
      gap: 1em;
      @include flex-col();
      &-item {
        padding: 1em 1.75em;
        width: 100%;
        text-decoration: none;
        background-color: hslac($black, 0);
        border: 1px solid hslac($white, 0);
        border-radius: 2em;
        backdrop-filter: blur(1.5rem) brightness(70%);
        gap: 1em;
        transition: all .3s cubic-bezier($transition-main, 1);
        @include flex-left();

        &:hover {
          border: 1px solid hslac($white, .1);
          backdrop-filter: blur(1.5rem) brightness(50%);
        }
        svg {
          height: 3em;
          g {
            stroke: hslac($white, .7);
          }
        }
        &-text {
          color: hslac($white, .7);
          font-weight: 300;
        }
      }
    }
  }
  &-divider {
    padding: 1.5em;
    width: 100%;
    @include flex-col();

    &-line {
      width: calc(100% - 3em); height: 1px;
      background-color: hslac($white, .1);
    }
  }
  &-playlists {
    padding: 1.5em 1.5em 6em 1.5em;
    width: 100%;
    &-list {
      width: 100%;
      gap: 1em;
      @include flex-col-start-center();

      &-item {
        padding: 1em;
        width: 100%;
        display: grid;
        grid-template-columns: 5em 1fr;
        border-radius: 2.25em;
        border: 1px solid hslac($white, 0);
        backdrop-filter: blur(1.5rem) brightness(70%);
        text-decoration: none;
        gap: 1em;
        transition: all .3s cubic-bezier($transition-main, 1);
        &:hover {
          border: 1px solid hslac($white, .1);
          backdrop-filter: blur(1.5rem) brightness(50%);
        }
        &-left {
          width: 100%;
          aspect-ratio: 1 / 1;
          position: relative;
          border-radius: 1.5em;
          overflow: hidden;
          @include flex-center();

          &-button {
            width: 3em; height: 3em;
            position: absolute;
            border: 1px solid hslac($white, .1);
            backdrop-filter: blur(1.5rem) brightness(70%);
            border-radius: 50%;
            z-index: 4;
            @include flex-center();

            svg {
              width: 2em;

              path {
                stroke: hslac($white, .7);
              }
            }
          }
          &-image {
            min-width: 100%; min-height: 100%;
            max-width: 110%;
            position: absolute;
            object-fit: cover;
          }
        }
        &-right {
          width: 100%;
          @include flex-col-left-ns();

          &-title {
            max-width: 100%;
            max-height: calc($paragraph-large + .5rem);
            line-height: calc($paragraph-large + .25rem);
            color: hslac($white, .7);
            font-size: $paragraph-large;
            font-weight: 500;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            white-space: normal;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          &-subtitle {
            color: hslac($white, .3);
            font-size: $paragraph;
            font-weight: 300;
          }
        }
      }
    }
  }
}