.navbar {
  top: 0;
  width: 100%; height: calc($navbar-height + 2em);
  position: relative;
  background-color: hslac($black, 1);
  z-index: 10000;
  @include flex-center();
  @include lightMode {
    background-color: hslac($white, 1);
  }

  &-inner {
    margin: 2em 0; padding: 0 2em;
    width: 100%; height: $navbar-height;
    position: relative;
    @include flex-center();

    &-padding {
      padding: 0 1em;
      width: 100%; height: 100%;
      gap: 3em;
      @include flex-space-bet();
    }
    &-left {
      &-link {
        svg {
          height: calc($navbar-height / 1.55);
          path {
            fill: hslac($white, 1);
            @include lightMode {
              fill: hslac($black, 1);
            }
          }
        }
      }
    }
    &-center {
      width: 100%; height: 100%;
      position: relative;
      gap: 1em;
      z-index: 10005;
      @include flex-center();

      &-item {
        height: 100%;
        aspect-ratio: 1 / 1;
        position: relative;
        text-decoration: none;
        background-color: hslac($background-lightgray, 1);
        border: 1px solid hslac($white, 0);
        border-radius: 50%;
        gap: 1em;
        transition: all .3s cubic-bezier($transition-main, 1);
        @include flex-center();
        @include lightMode {
          background-color: hslac($lm-background-lightgray, 1);
          border: 1px solid hslac($black, 0);
        }

        &:hover {
          border: 1px solid hslac($white, .1);
          @include lightMode {
            border: 1px solid hslac($black, .1);
          }
        }
        svg {
          height: 2em;
          g {
            stroke: hslac($white, .7);
            @include lightMode {
              stroke: hslac($black, .7);
            }
          }
        }
      }
      &-searchbar {
        max-width: 50em; min-width: 5em;
        width: 100%; height: 100%;
        position: relative;
        @include flex-center();

        &-icon {
          right: 2em;
          height: 2em;
          position: absolute;
          cursor: pointer;
          z-index: 10007;
          #search-inner {
            stroke: hslac($white, .7);
            @include lightMode {
              stroke: hslac($black, .7);
            }
          }
        }
        &-input {
          width: 100%; height: 100%;
          padding: 0 3em 0 1.25em;
          font-family: $font-main;
          color: hslac($white, 1);
          font-size: $paragraph-large;
          font-weight: 300;
          background-color: hslac($background-lightgray, 1);
          border: 1px solid hslac($white, 0);
          border-radius: 5em;
          transition: all .3s cubic-bezier($transition-main, 1);
          z-index: 10005;
          @include lightMode {
            color: hslac($black, 1);
            background-color: hslac($lm-background-lightgray, 1);
            border: 1px solid hslac($black, 0);
          }

          &::placeholder {
            color: hslac($white, .5);
            @include lightMode {
              color: hslac($black, .5);
            }
          }
          &:focus {
            border: 1px solid hslac($white, .1);
            outline: none;
            @include lightMode {
              border: 1px solid hslac($black, .1);
            }
          }
          &:hover {
            border: 1px solid hslac($white, .1);
            @include lightMode {
              border: 1px solid hslac($black, .1);
            }
          }
        }
      }
    }
    &-right {
      height: 100%;
      position: relative;
      z-index: 10005;
      &-profile {
        height: 100%;
        gap: .25em;
        @include flex-center();

        .mainbutton {
          font-size: $paragraph;
        }
        &-container {
          height: calc(100% - 1em);
          aspect-ratio: 1 / 1;
          position: relative;
          border-radius: 50%;
          overflow: hidden;
          cursor: pointer;
          z-index: 10005;
          transition: all .25s cubic-bezier($transition-main, 1);
          @include flex-center();

          &:hover {
            opacity: .5;
          }
          &-image {
            min-width: 100%; min-height: 100%;
            max-width: 105%;
            position: absolute;
            object-fit: cover;
          }
        }
      }
    }
  }
}

@keyframes resize-button {
  0% { transform: translate(0, 0) rotate(0); }
  10% { transform: translate(1px, 1px) rotate(1deg); }
  20% { transform: translate(2px, 0) rotate(2deg); }
  30% { transform: translate(1px, -1px) rotate(1deg); }
  40% { transform: translate(2px, -1px) rotate(0deg); }
  50% { transform: translate(3px, -1px) rotate(-1deg); }
  60% { transform: translate(2px, 0) rotate(0deg); }
  70% { transform: translate(1px, 1px) rotate(1deg); }
  80% { transform: translate(0, 1px) rotate(2deg); }
  90% { transform: translate(-1, 1px) rotate(1deg); }
  100% { transform: translate(0, 0) rotate(0); }
}
.sidebar {
  width: 100%; height: calc(100vh - calc($navbar-height + 2em)) !important;
  position: relative;
  background-color: hslac($black, 1);
  @include lightMode {
    background-color: hslac($white, 1);
  }
  @media (max-width: $layout-breakpoint-small) {
    display: none;
  }
  &-inner {
    height: 100%;
    background-color: hslac($background-gray, 1);
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-gutter: stable;
    scrollbar-width: none;
    @include lightMode {
      background-color: hslac($lm-background-gray, 1);
    }
  }
}
.sidebarright {
  padding: 0 0 0 1em;
  transition: opacity .3s cubic-bezier($transition-main, 1);
  &-resize {
    top: 0; left: 0;
    width: 1em; height: 100%;
    position: absolute;
    cursor: ew-resize;
    user-select: none;
    &-button {
      top: 50%; left: -4.5em;
      padding: .65em .7em .65em .7em;
      position: absolute;
      background-color: hslac($black, 1);
      border-radius: 1em;
      opacity: 0;
      pointer-events: none;
      z-index: 10000;
      transition: opacity .3s cubic-bezier($transition-main, 1);
      @include flex-center();
      @include lightMode {
        background-color: hslac($white, 1);
      }

      svg {
        top: 0;
        width: 2.5em;
        transform: rotate(45deg);
        path {
          stroke: hslac($white, 1);
          @include lightMode {
            stroke: hslac($black, 1);
          }
        }
      }
    }
  }
}
.sidebar-right {
  max-width: 50em;
  min-width: 25em;
  @include flex-col-start-center();

  &-inner {
    > div:nth-child(3) {
      padding: 1.5em 0;
    }
  }
  &-profilemenu {
    padding: 1.5em 1.5em 3em 1.5em;
    width: 100%;
    &-list {
      width: 100%;
      position: relative;
      @include flex-col();

      .active {
        opacity: 1;
      }
      &-item {
        padding: 1em 0;
        width: 100%;
        position: relative;
        text-decoration: none;
        background-color: hslac($black, 0);
        border-radius: 2em;
        gap: 1em;
        opacity: .5;
        transition: all .15s cubic-bezier($transition-main, 1);
        @include flex-center();
        @include lightMode {
          background-color: hslac($white, 0);
        }

        &:hover {
          opacity: 1;
        }
        svg {
          height: 2em;
          g {
            stroke: hslac($white, .7);
            @include lightMode {
              background-color: hslac($black, .7);
            }
          }
        }
        &-text {
          width: 100%;
          color: hslac($white, .7);
          font-weight: 300;
          @include lightMode {
            color: hslac($black, .7);
          }
        }
      }
    }
  }
  &-menu {
    padding: 1.5em;
    width: 100%; height: 100%;
    background-color: hslac($background-gray, 1);
    @include lightMode {
      background-color: hslac($lm-background-gray, 1);
    }
    &-inner {
      width: 100%;
      gap: 3em;
      @include flex-col();

      &-top {
        width: 100%;
        position: relative;
        @include flex-left();

        &-left {
          padding: 1em;
          width: 100%;
          position: relative;
          border-radius: 2em;
          text-decoration: none;
          gap: 1em;
          overflow: hidden;
          z-index: 5;
          @include flex-col();

          &-container {
            width: 100%;
            position: relative;

            .whitebutton, .blackbutton {
              font-weight: 500;
            }
          }
          &-overlay {
            width: 100%; height: 100%;
            background: linear-gradient(20deg, hslac($black, .3) 0, hslac($black, .1) 100%);
            position: absolute;
            object-fit: cover;
            z-index: 3;
          }
          &-background {
            width: 100%; height: 100%;
            position: absolute;
            filter: brightness(50%);
            object-fit: cover;
          }
          &-inner {
            width: 100%;
            display: grid;
            position: relative;
            grid-template-columns: 5em 1fr;
            place-content: center;
            text-decoration: none;
            gap: 1em;

            &-image {
              width: 100%;
              border-radius: 50%;
              position: relative;
              z-index: 5;
            }
            &-text {
              position: relative;
              gap: .2em;
              z-index: 5;
              @include flex-col-left-ns();

              &-title {
                color: hslac($white, 1);
                font-size: $paragraph-large;
                font-weight: 700;
                gap: .25em;
                @include flex-left();

                svg, img {
                  width: $paragraph-large;
                }
              }
              &-subtitle {
                color: hslac($white, .5);
                font-size: $paragraph;
                font-weight: 500;
                transition: all .3s cubic-bezier($transition-main, 1);
              }
            }
          }
        }
      }
      &-center {
        width: 100%;
        position: relative;
        z-index: 5;
        &-grid {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 1em;

          .darkbutton, .mainbutton {
            padding: 1.25em 2em;
            font-size: $paragraph;
            gap: .75em;
            svg {
              width: 1.8em;
              g {
                g {
                  stroke: hslac($white, 1);
                }
              }
            }
          }
          .darkbutton {
            svg {
              g {
                g {
                  @include lightMode {
                    stroke: hslac($black, 1);
                  }
                }
              }
            }
          }
          .darkbutton {
            @include flex-left();
          }
          .mainbutton {
            @include flex-left();
          }
        }
      }
    }
  }
}
.sidebarleft {
  padding: 0 1em 0 0;
  transition: opacity .3s cubic-bezier($transition-main, 1);
  &-resize {
    top: 0; right: 0;
    width: 1em; height: 100%;
    position: absolute;
    cursor: ew-resize;
    user-select: none;
    &-button {
      top: 50%; right: -4.5em;
      padding: .65em .7em .65em .7em;
      position: absolute;
      background-color: hslac($black, 1);
      border-radius: 1em;
      pointer-events: none;
      opacity: 0;
      z-index: 10000;
      transition: opacity .15s cubic-bezier($transition-main, 1);
      @include flex-center();
      @include lightMode {
        background-color: hslac($white, 1);
      }

      svg {
        top: 0;
        width: 2.5em;
        transform: rotate(-45deg);
        path {
          stroke: hslac($white, 1);
          @include lightMode {
            stroke: hslac($black, 1);
          }
        }
      }
    }
  }
  &-note {
    top: 0; left: 0;
    margin: 1em 0 0 2em;
    padding: 1.5em 2em;
    position: fixed;
    background-color: hslac($black, 1);
    border-radius: 1em;
    pointer-events: none;
    opacity: 0;
    transition: all .3s cubic-bezier($transition-main, 1);
    z-index: 10000;
    @include lightMode {
      background-color: hslac($white, 1);
    }
    &-title {
      white-space: nowrap;
    }
    &-subtitle {
      margin: .25em 0 0 0;
      color: hslac($white, .3);
      font-size: $paragraph;
      white-space: nowrap;
      @include lightMode {
        color: hslac($black, .3);
      }

      span {
        font-size: $paragraph;
      }
    }
  }
}
.sidebar-left {
  max-width: 45em;
  min-width: 5em;
  @include flex-col-start-center();

  &-inner {
    > div:nth-child(3) {
      padding: 1.5em 0;
    }
  }
  &-divider {
    padding: 2em 1.5em 0 1.5em;
    @include flex-center();

    &-inner {
      padding: 1.5em 2em;
      width: 100%;
      background-color: hslac($black, 1);
      border-radius: 2em;
      @include flex-space-bet();
      @include lightMode {
        background-color: hslac($white, 1);
      }
      &-left {
        gap: 1em;
        @include flex-left();

        svg {
          g {
            g {
              stroke: hslac($white, .7);
              @include lightMode {
                stroke: hslac($black, .7);
              }
            }
          }
        }
        &-text {
          width: calc(100% - 1.5em);
          color: hslac($white, .7);
          @include lightMode {
            color: hslac($black, .7);
          }
        }
      }
      &-right {
        cursor: pointer;
        svg {
          g {
            g {
              stroke: hslac($white, .7);
              @include lightMode {
                stroke: hslac($black, .7);
              }
            }
          }
        }
      }
    }
  }
  &-island {
    top: 0;
    padding: 1.5em 0 0 0;
    margin: 0 1.5em 0 1.5em;
    width: calc(100% - 3em);
    position: sticky;
    background-color: hslac($background-gray, 1);
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    z-index: 10000;
    @include flex-center();
    @include lightMode {
      background-color: hslac($lm-background-gray, 1);
    }

    &-inner {
      padding: 1.5em;
      width: 100%;
      background-color: hslac($black, 1);
      border-radius: 2em;
      gap: 1em;
      @include flex-col();
      @include lightMode {
        background-color: hslac($white, 1);
      }

      &-top {
        width: 100%;
        @include flex-space-bet();
        &-left {
          padding: 1em 1.5em;
          background-color: hslac($background-gray, 0);
          border-radius: 5em;
          gap: 1em;
          @include flex-left();
          @include lightMode {
            background-color: hslac($lm-background-gray, 0);
          }

          svg {
            width: 2em; height: 2em;
            g {
              g {
                stroke: hslac($white, .7);
                @include lightMode {
                  stroke: hslac($black, .7);
                }
              }
            }
          }
          &-text {
            color: hslac($white, .7);
            font-size: $paragraph-medium;
            font-weight: 600;
            @include lightMode {
              color: hslac($black, .7);
            }
          }
        }
        &-right {
          padding: 1em;
          background-color: hslac($background-gray, 1);
          border-radius: 50%;
          cursor: pointer;
          @include flex-center();
          @include lightMode {
            background-color: hslac($lm-background-gray, 1);
          }

          svg {
            width: 2em; height: 2em;
            g {
              g {
                stroke: hslac($white, .7);
                @include lightMode {
                  stroke: hslac($black, .7);
                }
              }
            }
          }
        }
      }
      &-bottom {
        width: 100%;
        gap: 1em;
        @include flex-left();

        &-scrollable {
          width: 100%;
          position: relative;
          gap: 1em;
          user-select: none;
          overflow: hidden;
          @include flex-left();

          &-drag {
            position: relative;
            gap: 1em;
            @include flex-left();
          }
          &-overlay {
            width: 100%; height: 100%;
            position: absolute;
            background: linear-gradient(90deg, hslac($black, 0) 0,  hslac($black, 0) 2.5em, hslac($black, 0) 6em, hslac($black, 0) 50%, hslac($black, 1) 100%);
            pointer-events: none;
            z-index: 10007;
            @include lightMode {
              background: linear-gradient(90deg, hslac($white, 0) 0,  hslac($white, 0) 2.5em, hslac($white, 0) 6em, hslac($white, 0) 50%, hslac($white, 1) 100%);
            }
          }
        }
        &-xbutton {
          padding: 1em;
          background-color: hslac($background-gray, 1);
          border-radius: 50%;
          cursor: pointer;
          z-index: 100009;
          @include flex-center();
          @include lightMode {
            background-color: hslac($lm-background-gray, 1);
          }

          svg {
            width: 2em; height: 2em;
            g {
              g {
                stroke: hslac($white, .7);
                @include lightMode {
                  stroke: hslac($black, .7);
                }
              }
            }
          }
        }
        &-button {
          padding: 1.25em 1.75em;
          background-color: hslac($background-gray, 1);
          border-radius: 5em;
          white-space: nowrap;
          user-select: none;
          cursor: pointer;
          @include lightMode {
            background-color: hslac($lm-background-gray, 1);
          }
          &-title {
            font-size: $paragraph-medium;
            font-weight: 600;
            @include lightMode {
              color: hslac($black, 1);
            }
          }
        }
        .active {
          background-color: hslac($white, 1);
          @include lightMode {
            background-color: hslac($black, 1);
          }
          .sidebar-left-island-inner-bottom-button-title {
            color: hslac($black, 1);
            @include lightMode {
              color: hslac($white, 1);
            }
          }
        }
      }
    }
  }
  &-playlists {
    padding: 1.5em;
    width: 100%;
    &-list {
      width: 100%;
      gap: 1em;
      @include flex-col-start-center();

      .active {
        background-color: hslac($background-lightgray, 1);
        border: 1px solid hslac($white, .1);
        @include lightMode {
          background-color: hslac($lm-background-lightgray, 1);
          border: 1px solid hslac($black, .1);
        }
      }
      &-item {
        padding: .8em;
        width: 100%;
        display: grid;
        position: relative;
        grid-template-columns: 5.5em 1fr;
        border-radius: 2em;
        place-items: center;
        background-color: hslac($black, 1);
        border: 1px solid hslac($white, 0);
        text-decoration: none;
        gap: 1em;
        transition: all .3s cubic-bezier($transition-main, 1);
        @include lightMode {
          background-color: hslac($white, 1);
          border: 1px solid hslac($black, 0);
        }
        &:hover {
          border: 1px solid hslac($white, .1);
          @include lightMode {
            border: 1px solid hslac($black, .1);
          }
        }
        &-left {
          width: 100%;
          aspect-ratio: 1 / 1;
          position: relative;
          border-radius: 1.25em;
          overflow: hidden;
          @include flex-center();

          &-image {
            width: 100%; height: 100%;
            position: absolute;
            object-fit: cover;
          }
        }
        &-right {
          width: 100%;
          @include flex-col-left-ns();

          &-title {
            padding: 0 .6em 0 0;
            max-width: 100%;
            max-height: calc($paragraph-large + .5rem);
            line-height: calc($paragraph-large + .25rem);
            color: hslac($white, 1);
            font-size: $paragraph-large;
            font-weight: 500;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            white-space: normal;
            text-overflow: ellipsis;
            overflow: hidden;
            z-index: 4;
            @include lightMode {
              color: hslac($black, 1);
            }
          }
          &-subtitle {
            color: hslac($white, .6);
            font-size: $paragraph;
            font-weight: 300;
            z-index: 4;
            @include lightMode {
              color: hslac($black, .6);
            }
          }
        }
      }
    }
  }
}