.navbar {
  top: 0;
  width: 100%; height: calc($navbar-height + 2em);
  position: relative;
  background-color: hslac($black, 1);
  z-index: 10000;
  @include flex-center();

  &-inner {
    margin: 2em 0; padding: 0 2em;
    width: 100%; height: $navbar-height;
    position: relative;
    @include flex-center();

    &-padding {
      padding: 0 1em;
      width: 100%; height: 100%;
      gap: 3em;
      @include flex-space-bet();
    }
    &-left {
      &-link {
        svg {
          height: calc($navbar-height / 1.65);
          path {
            fill: hslac($white, 1);
          }
        }
      }
    }
    &-center {
      height: 100%;
      position: relative;
      z-index: 10005;
      @include flex-center();

      &-searchbar {
        width: 50em;
        height: 100%;
        position: relative;
        @include flex-center();

        &-icon {
          right: 2em;
          height: 2em;
          position: absolute;
          cursor: pointer;
          z-index: 10007;
          #search-inner {
            stroke: hslac($white, .7);
          }
        }
        &-input {
          width: 100%; height: 100%;
          padding: 0 3em 0 1.25em;
          font-family: $font-main;
          color: hslac($white, 1);
          font-size: $paragraph-large;
          font-weight: 300;
          background-color: hslac($black, 0);
          border: 1px solid hslac($white, .1);
          border-radius: 5em;
          transition: all .3s cubic-bezier($transition-main, 1);
          z-index: 10005;

          &::placeholder {
            color: hslac($white, .5);
          }
          &:focus {
            border: 1px solid hslac($white, .3);
            outline: none;
          }
        }
      }
    }
    &-right {
      height: 100%;
      position: relative;
      z-index: 10005;
      &-profile {
        height: 100%;
        gap: .25em;
        @include flex-center();

        &-container {
          height: calc(100% - 1em);
          aspect-ratio: 1 / 1;
          position: relative;
          border-radius: 50%;
          overflow: hidden;
          cursor: pointer;
          z-index: 10005;
          transition: all .25s cubic-bezier($transition-main, 1);
          @include flex-center();

          &:hover {
            opacity: .5;
          }
          &-image {
            min-width: 100%; min-height: 100%;
            max-width: 105%;
            position: absolute;
            object-fit: cover;
          }
        }
      }
    }
  }
}

.sidebar {
  width: 100%; height: calc(100vh - $navbar-height);
  position: relative;
  background-color: hslac($black, 1);
  &-inner {
    height: 100%;
    background-color: hslac($background-gray, 1);
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-gutter: stable;
    scrollbar-width: none;
  }
}
.sidebarright {
  &-resize {
    top: 0; left: -1em;
    width: 1em; height: 100%;
    position: absolute;
    cursor: ew-resize;
    user-select: none;
  }
}
.sidebar-right {
  max-width: 50em;
  min-width: 25em;
  @include flex-col-start-center();

  &-inner {
    > div:nth-child(3) {
      padding: 1.5em 0 0 0;
    }
  }
  &-menu {
    padding: 1.5em;
    width: 100%;
    &-inner {
      width: 100%;
      gap: 3em;
      @include flex-col();

      &-top {
        width: 100%;
        position: relative;
        @include flex-left();

        &-left {
          padding: 1em;
          width: 100%;
          position: relative;
          border-radius: 2em;
          text-decoration: none;
          gap: 1em;
          overflow: hidden;
          z-index: 5;
          @include flex-col();

          &-container {
            width: 100%;
            position: relative;
          }
          &-overlay {
            width: 100%; height: 100%;
            background: linear-gradient(20deg, hsl(0, 0%, 0%, .6) 0, hsl(0, 0%, 0%, .2) 100%);
            position: absolute;
            object-fit: cover;
            z-index: 3;
          }
          &-background {
            min-width: 100%; min-height: 100%;
            max-height: 110%;
            filter: brightness(70%);
            position: absolute;
            object-fit: cover;
          }
          &-inner {
            width: 100%;
            display: grid;
            position: relative;
            grid-template-columns: 5em 1fr;
            place-content: center;
            text-decoration: none;
            gap: 1em;

            &-image {
              width: 100%;
              border-radius: 50%;
              position: relative;
              z-index: 5;
            }
            &-text {
              position: relative;
              gap: .2em;
              z-index: 5;
              @include flex-col-left-ns();

              &-title {
                color: hslac($white, 1);
                font-size: $paragraph-large;
                font-weight: 700;
              }
              &-subtitle {
                color: hslac($white, .5);
                font-size: $paragraph;
                font-weight: 500;
                transition: all .3s cubic-bezier($transition-main, 1);
              }
            }
          }
        }
      }
      &-center {
        width: 100%;
        position: relative;
        z-index: 5;
        &-grid {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 1em;

          .blackbutton, .mainbutton {
            padding: 1.25em 2em;
            font-size: $paragraph;
            gap: .75em;
            svg {
              width: 1.8em;
              g {
                g {
                  stroke: hslac($white, 1);
                }
              }
            }
          }
          .blackbutton {
            @include flex-left();
          }
          .mainbutton {
            @include flex-left();
          }
        }
      }
    }
  }
}
.sidebarleft {
  &-resize {
    top: 0; right: -1em;
    width: 1em; height: 100%;
    position: absolute;
    cursor: ew-resize;
    user-select: none;
  }
}
.sidebar-left {
  max-width: 40em;
  min-width: 5em;
  @include flex-col-start-center();

  &-inner {
    > div:nth-child(3) {
      padding: 1.5em 0 0 0;
    }
  }
  &-menu {
    padding: 1.5em;
    width: 100%;
    &-list {
      width: 100%;
      gap: 1em;
      @include flex-col();

      .active {
        backdrop-filter: blur(1.5rem) brightness(20%);
      }
      &-item {
        padding: 1.75em 2.25em;
        width: 100%;
        position: relative;
        text-decoration: none;
        background-color: hslac($black, 0);
        border: 1px solid hslac($white, .1);
        border-radius: 2em;
        backdrop-filter: blur(1.5rem) brightness(70%);
        gap: 1em;
        transition: all .3s cubic-bezier($transition-main, 1);
        @include flex-center();

        &:hover {
          border: 1px solid hslac($white, .2);
          backdrop-filter: blur(1.5rem) brightness(40%);
        }
        svg {
          height: 2em;
          g {
            stroke: hslac($white, .7);
          }
        }
        &-text {
          width: 100%;
          color: hslac($white, .7);
          font-weight: 300;
        }
      }
    }
  }
  &-divider {
    padding: 2em 1.5em 0 1.5em;
    width: 100%;
    @include flex-col();

    &-text {
      width: calc(100% - 1.5em);
      color: hslac($white, .7);
    }
    &-line {
      width: calc(100% - 3em); height: 1px;
      background-color: hslac($white, 0);
    }
  }
  &-playlists {
    padding: 1.5em 1.5em 6em 1.5em;
    width: 100%;
    &-list {
      width: 100%;
      gap: 1em;
      @include flex-col-start-center();

      &-item {
        padding: 1em;
        width: 100%;
        display: grid;
        grid-template-columns: 5em 1fr;
        border-radius: 2.25em;
        border: 1px solid hslac($white, .1);
        backdrop-filter: blur(1.5rem) brightness(70%);
        text-decoration: none;
        gap: 1em;
        overflow: hidden;
        transition: all .3s cubic-bezier($transition-main, 1);
        &:hover {
          border: 1px solid hslac($white, .2);
          backdrop-filter: blur(1.5rem) brightness(40%);
        }
        &-left {
          width: 100%;
          aspect-ratio: 1 / 1;
          position: relative;
          border-radius: 1.5em;
          overflow: hidden;
          @include flex-center();

          &-button {
            width: 3em; height: 3em;
            position: absolute;
            border: 1px solid hslac($white, .1);
            backdrop-filter: blur(1.5rem) brightness(70%);
            border-radius: 50%;
            z-index: 4;
            @include flex-center();

            svg {
              width: 2em;

              path {
                stroke: hslac($white, .7);
              }
            }
          }
          &-image {
            min-width: 100%; min-height: 100%;
            max-width: 110%;
            position: absolute;
            object-fit: cover;
          }
        }
        &-right {
          width: 100%;
          @include flex-col-left-ns();

          &-title {
            padding: 0 1.5em 0 0;
            max-width: 100%;
            max-height: calc($paragraph-large + .5rem);
            line-height: calc($paragraph-large + .25rem);
            color: hslac($white, .7);
            font-size: $paragraph-large;
            font-weight: 500;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            white-space: normal;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          &-subtitle {
            color: hslac($white, .3);
            font-size: $paragraph;
            font-weight: 300;
          }
        }
      }
    }
  }
}