.pictures {
  margin: 3em 0 0 0;
  width: 100%;
  @include flex-center();

  &-inner {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8em;

    &-left {
      &-list {
        padding: 0;
        list-style-type: none;
        gap: 1.5em;
        @include flex-col-left();

        &-item {
          .active {
            opacity: 1;
          }
          &-link {
            color: hslac($white, 1);
            text-decoration: none;
            gap: 1em;
            opacity: .5;
            transition: all .25s cubic-bezier($transition-main, 1);
            @include flex-left();

            &:hover {
              opacity: 1;
            }
            span {
              color: hslac($white, 1);
              font-size: $paragraph-xlarge;
            }
            svg {
              width: 3em;
              g {
                g {
                  stroke: hslac($white, 1);
                }
              }
            }
          }
        }
      }
    }
    &-right {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5em;
      @media (max-width: $layout-breakpoint-xmedium) {
        gap: 3em;
      }
      @media (max-width: $layout-breakpoint-small) {
        grid-template-columns: 1fr;
      }
      &-full {
        top: 0; left: 0;
        width: 100vw; height: 100vh;
        position: fixed;
        background-color: hslac($black, .8);
        opacity: 0;
        pointer-events: none;
        z-index: 10050;
        @include flex-center();

        &-inner {
          padding: 4.6em 3em;
          width: 100%; height: 100%;
          display: grid;
          grid-template-columns: 25% 1fr;
          gap: 2em;
          &-left {
            width: 100%;
            gap: 2em;
            @include flex-col();

            &-bar, &-comments {
              width: 100%;
              background-color: hslac($black, 0);
              border: 1px solid hslac($white, .5);
              backdrop-filter: blur(1.5rem) brightness(90%);
              @include flex-center();

              &-shadow {
                top: 1em;
                width: 100%; height: 100%;
                position: absolute;
                background-color: hslac($black, .5);
                filter: blur(1.5rem);
                z-index: -1;
              }
            }
            &-bar {
              padding: 1.5em;
              border-radius: 5em;
              &-title {
                width: 100%;
                &-button {
                  padding: 0 .75em;
                  color: hslac($white, 1);
                  background-color: transparent;
                  border: none;
                  gap: .75em;
                  cursor: pointer;
                  @include flex-center();

                  span {
                    font-size: $heading-small;
                    font-weight: 500;
                  }
                  svg {
                    height: $heading-small;
                    g {
                      g {
                        stroke: hslac($white, 1);
                      }
                    }
                  }
                }
              }
            }
            &-comments {
              padding: 3em 3em 0 3em;
              height: 100%;
              border-radius: 3.5em;
              @include flex-space-bet-start-col();

              &-top {
                width: 100%;
                &-title {
                  width: 100%;
                  font-size: $heading-small;
                  font-weight: 500;
                }
              }
              &-center {
                width: 100%;
              }
              &-bottom {
                padding: 2em;
                width: 100%;
                gap: 3em;
                @include flex-center();

                &-item {
                  cursor: pointer;
                  gap: .5em;
                  @include flex-center();

                  &-text {
                    font-size: $paragraph;
                    font-weight: 500;
                  }
                  svg {
                    width: 3em; height: 3em;
                    g {
                      g {
                        stroke: hslac($white ,1);
                      }
                    }
                  }
                }
              }
              &-shadow {
                left: 0;
              }
            }
          }
          &-right {
            width: 100%; height: 100%;
            position: relative;
            @include flex-center();

            &-container {
              width: 100%; height: calc(100vh - (4.6em * 2));
              overflow: hidden;
              @include flex-left();
            }
            img {
              width: auto !important;
              height: 100%;
              border-radius: 3em;
              user-select: none;
              pointer-events: none;
            }
            &-dots {
              left: 3em; bottom: 1.7em;
              padding: .6em .8em;
              position: absolute;
              background-color: hslac($black, 0);
              backdrop-filter: blur(1.5rem) brightness(70%);
              border-radius: 5em;
              gap: .5em;
              transform: scale(1.5, 1.5);
              @include flex-center();

              &-dot {
                width: .4em; height: .4em;
                background-color: hslac($white, .3);
                border-radius: 50%;
                cursor: pointer;
              }
              .active {
                background-color: hslac($white, 1);
                cursor: default;
              }
            }
          }
        }
      }
      &-item {
        width: 100%;
        aspect-ratio: 1 / 1;
        position: relative;
        border-radius: 4em;
        overflow: hidden;
        @include flex-center();

        &-inner {
          padding: 2.5em;
          width: 100%; height: 100%;
          position: absolute;
          z-index: 5;
          @include flex-space-bet-start-col();
          @media (max-width: $layout-breakpoint-xmedium) {
            padding: 2em;
          }
          @media (max-width: $layout-breakpoint-small) {
            padding: 3em;
          }

          &-top {
            width: 100%;
            display: grid;
            position: relative;
            grid-template-columns: auto 1fr;
            place-items: center;
            gap: 1em;
            z-index: 5;

            &-container {
              width: 6em; height: 6em;
              position: relative;
              border-radius: 50%;
              overflow: hidden;
              @include flex-center();

              &-image {
                min-width: 100%; min-height: 100%;
                max-width: 105%;
                position: absolute;
                object-fit: cover;
              }
            }
            &-text {
              width: 100%;
              gap: .25em;
              @include flex-col-left();

              &-username {
                font-size: $paragraph-xlarge;
                font-weight: 700;
                gap: .25em;
                @include flex-center();

                span {
                  font-size: $paragraph-xlarge;
                  font-weight: 700;
                }
                svg {
                  width: $paragraph-xlarge;
                }
              }
              &-date {
                color: hslac($white, .5);
                font-size: $paragraph;
              }
            }
          }
          &-bottom {
            width: 100%;
            position: relative;
            gap: 1em;
            z-index: 5;
            @include flex-col();

            &-dots {
              padding: .6em .8em;
              background-color: hslac($black, 0);
              backdrop-filter: blur(1.5rem) brightness(90%);
              border-radius: 5em;
              gap: .5em;
              cursor: pointer;
              @include flex-center();

              &-dot {
                width: .4em; height: .4em;
                background-color: hslac($white, .3);
                border-radius: 50%;
              }
              .active {
                background-color: hslac($white, 1);
              }
            }
            &-nav {
              padding: 1.25em 2em;
              position: relative;
              background-color: hslac($black, 0);
              border: 1px solid hslac($white, .1);
              border-radius: 5em;
              backdrop-filter: blur(1.5rem) brightness(90%);
              gap: 2em;
              z-index: 6;
              @include flex-center();

              &-item {
                cursor: pointer;
                @include flex-center();

                svg {
                  width: 4em;
                  g {
                    g {
                      stroke: hslac($white, 1);
                    }
                  }
                }
                &-text {
                  font-weight: 700;
                }
              }
              &-shadow {
                top: 1em;
                width: 100%; height: 100%;
                position: absolute;
                background-color: hslac($black, .5);
                transform: scale(.9, .9);
                filter: blur(1.5rem);
                z-index: -1;
              }
            }
          }
        }
        &-overlay {
          width: 100%; height: 100%;
          position: absolute;
          background: linear-gradient(173deg, hslac($black, .65) 0, hslac($black, 0) 100%);
          z-index: 3;
        }
        &-background {
          min-width: 100%; min-height: 100%;
          max-width: 105%;
          position: absolute;
          object-fit: cover;
        }
      }
    }
  }
}