.playlists-grid {
  &-inner {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    place-items: flex-start;
    column-gap: 2em;
    row-gap: 4em;
    &-item {
      width: 100%;
      text-decoration: none;
      gap: 1em;
      opacity: 1;
      transition: all .15s cubic-bezier($transition-main, 1);
      @include flex-col-start-center();

      &:hover {
        opacity: .5;
      }
      &-top {
        width: 100%;
        aspect-ratio: 1 / 1;
        position: relative;
        background-color: hslac($background-lightgray, 1);
        border-radius: 1.5em;
        overflow: hidden;
        @include flex-center();
        @include lightMode {
          background-color: hslac($lm-background-lightgray, 1);
        }

        &-image {
          width: 100%;
        }
      }
      &-bottom {
        width: 100%; height: 100%;
        gap: .3em;
        @include flex-col-left-ns();

        &-title {
          color: hslac($white, 1);
          font-size: $paragraph-large;
          font-weight: 500;
          line-height: 1.2;
          @include lightMode {
            color: hslac($black, 1);
          }
        }
        &-subtitle {
          color: hslac($white, .7);
          font-size: $paragraph;
          font-weight: 300;
          gap: .25em;
          @include flex-left();
          @include lightMode {
            color: hslac($black, .7);
          }

          span {
            font-size: $paragraph;
            font-weight: 300;
          }
          svg, img {
            width: $paragraph-medium;
          }
        }
      }
    }
  }
}