.profile {
  padding: 0 0 7em 0;
  width: 100%;
  @include flex-center();

  &-inner {
    gap: 6em; min-height: calc(100vh - $navbar-height);
    @include flex-col-start-center();
    @media (max-width: $layout-breakpoint-xsmall) {
      gap: 4em;
    }

    &-header {
      margin: 3em 0 0 0;
      width: 100%;
      position: relative;
      aspect-ratio: 2.75 / 1;
      border-radius: 2em;
      overflow: hidden;
      @include flex-center();
      @media (max-width: $layout-breakpoint-small) {
        border-radius: 3em;
      }
      @media (max-width: $layout-breakpoint-xsmall) {
        border-radius: 2em;
      }

      &-overlay {
        width: 100%; height: 100%;
        position: absolute;
        background: linear-gradient(7deg, hslac($black, .25) 0, hslac($black, 0) 100%);
        z-index: 3;
      }
      &-background {
        width: 100%;
        position: absolute;
        object-fit: cover;
      }
    }
    &-content {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      gap: 6em;

      &-right {
        gap: 1.5em;
        @include flex-col();

        &-title {
          width: 100%;
          gap: .5em;
          @include flex-left();

          &-name {
            color: hslac($white, .7);
            font-size: $paragraph-medium;
            font-weight: 700;
            @include lightMode {
              color: hslac($black, .7);
            }
          }
          &-divider {
            color: hslac($white, .3);
            font-size: $paragraph-medium;
            font-weight: 400;
            @include lightMode {
              color: hslac($black, .3);
            }
          }
          &-link {
            color: hslac($white, .3);
            font-size: $paragraph-medium;
            font-weight: 400;
            text-decoration: none;
            @include lightMode {
              color: hslac($black, .3);
            }
          }
        }
        &-videos {
          width: 100%;
        }
      }
    }
  }
}
.profile-menu-container {
  padding: 1.5em;
  position: relative;
  gap: 2em;
  @include flex-col();

  &-details {
    padding: 0 1em;
    width: 100%;
    gap: .15em;
    @include flex-col-left-ns();

    &-username {
      gap: .3em;
      @include flex-left();

      span {
        font-size: $heading-small;
        font-weight: 700;
        @include lightMode {
          color: hslac($black, 1);
        }
      }
      svg, img {
        width: $heading-small;
      }
    }
    &-subscribers {
      color: hslac($white, .7);
      font-size: $paragraph;
      font-weight: 500;
      text-decoration: none;
      @include lightMode {
        color: hslac($black, .7);
      }
    }
  }
  &-inner {
    width: 100%;
    position: relative;
    aspect-ratio: 1 / 1;
    border-radius: 2em;
    overflow: hidden;
    z-index: 5;
    @include flex-center();

    &-button {
      margin: 1em;
      padding: 1em 1.5em;
      top: 0; right: 0;
      position: absolute;
      border: 1px solid hslac($white, .1);
      border-radius: 2em;
      backdrop-filter: blur(1.5rem) brightness(150%);
      z-index: 7;
      cursor: pointer;
      @include flex-center();

      &-text {
        color: hslac($white, .7);
        font-size: $paragraph;
      }
      &-shadow {
        width: 100%; height: 100%;
        position: absolute;
        background-color: hslac($black, .4);
        border-radius: inherit;
        filter: blur(2em);
        transform: scale(.95, .9);
        z-index: -1;
      }
    }
    &-cta {
      bottom: 0;
      margin: 1em;
      width: calc(100% - 2em);
      position: absolute;
      z-index: 7;
    }
    .mainbutton, .whitebutton, .blackbutton {
      font-size: $paragraph;
      font-weight: 500;
    }
    .subscribed {
      color: hslac($white, .7);
    }
    &-overlay2 {
      width: 100%; height: 100%;
      position: absolute;
      background: linear-gradient(-125deg, hslac($black, .6) 0, hslac($black, 0) 50%, hslac($black, 0) 100%);
      z-index: 6;
    }
    &-overlay {
      width: 100%; height: 100%;
      position: absolute;
      background: linear-gradient(hslac($black, .1) 0, hslac($black, .2) 100%);
      opacity: 0;
      z-index: 6;
    }
    &-image {
      width: 100%;
      position: relative;
    }
  }
}
.loading {
  width: 100vw; height: 100vh;
  @include flex-center();

  &-box {
    width: 15em;
    aspect-ratio: 1 / 1;
    border: 1px solid hslac($white, .1);
    border-radius: 50%;
    animation: boxRotation 5s cubic-bezier($transition-main, 1) infinite;
    @include flex-center();

    &-text {
      color: hslac($white, 1);
      @include lightMode {
        color: hslac($black, 1);
      }
    }
  }
}
.no-content {
  width: 100%; height: 100%;
  @include flex-col();

  &-image {
    width: 10em;
  }
  &-sub {
    color: hslac($white, .7);
    font-size: $paragraph;
  }
}

@keyframes boxRotation {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}