.video {
  margin: 15em 0 0 0;
  width: 100%;
  @include flex-center();

  &-inner {
    display: grid;
    grid-template-columns: 1fr 36em;
    place-items: flex-start;
    gap: 4em;
    @media (max-width: $layout-breakpoint-xmedium) {
      grid-template-columns: 1fr;
    }
    &-left {
      width: 100%;
      position: relative;
      gap: 4em;
      @include flex-col();

      &-box {
        width: 100%;
        aspect-ratio: 16 / 9;
        position: relative;
        border-radius: 4em;
        overflow: hidden;
        @include flex-center();
      }
      .videos {
        margin: 0;
        &-inner {
          width: 100%;
        }
      }
    }
    &-right {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      gap: 4em;
      &-box {
        width: 100%;
        background-color: hslac($black, 0);
        border: 1px solid hslac($white, .1);
        border-radius: 2.5rem;
        backdrop-filter: blur(1.5rem) brightness(70%);
        @include flex-col();

        &-top {
          width: 100%;
          gap: 1em;
          @include flex-col();

          &-user {
            padding: 2.5em;
            width: 100%;
            position: relative;
            gap: 1em;
            border-radius: 2.5rem 2.5em 0 0;
            overflow: hidden;
            z-index: 5;
            @include flex-col();

            &-inner {
              width: 100%;
              display: grid;
              position: relative;
              grid-template-columns: auto 1fr;
              place-items: center;
              text-decoration: none;

              &:hover {
                .video-inner-right-box-top-user-container {
                  filter: brightness(70%);
                }
                .video-inner-right-box-top-user-text {
                  filter: brightness(70%);
                }
              }
            }
            &-overlay {
              width: 100%; height: 100%;
              position: absolute;
              mask-image: linear-gradient(hslac($black, 1), transparent);
              background: linear-gradient(2deg, hslac($black, 1) 0, hslac($black, .25) 100%);
              z-index: 3;
            }
            &-background {
              height: 100%;
              filter: brightness(70%);
              mask-image: linear-gradient(hslac($black, 1), transparent);
              position: absolute;
              object-fit: cover;
            }
            &-container {
              width: 5em; height: 5em;
              position: relative;
              border-radius: 50%;
              overflow: hidden;
              z-index: 5;
              transition: all .3s cubic-bezier($transition-main, 1);
              @include flex-center();

              &-image {
                min-width: 100%; min-height: 100%;
                max-width: 105%;
                position: absolute;
                object-fit: cover;
              }
            }
            &-text {
              padding: 0 0 0 1em;
              width: 100%;
              position: relative;
              gap: .25em;
              z-index: 5;
              transition: all .3s cubic-bezier($transition-main, 1);
              @include flex-col-left();

              &-username {
                color: hslac($white, 1);
                font-size: $paragraph-xlarge;
                font-weight: 700;
                gap: .25em;
                @include flex-center();

                span {
                  font-size: $paragraph-xlarge;
                  font-weight: 700;
                }
                svg {
                  width: $paragraph-xlarge;
                }
              }
              &-date {
                color: hslac($white, .5);
                font-size: $paragraph;
              }
            }
          }
          &-container {
            width: 100%;
            position: relative;
            z-index: 5;
            .mainbutton, .blackbutton {
              width: 100%;
              font-size: $paragraph-medium !important;
            }
          }
        }
        &-center {
          padding: 1em 2.5em 0 2.5em;
          width: 100%;
          gap: 1em;
          @include flex-col-left();

          &-title {
            max-width: 100%;
            font-size: $paragraph-xlarge;
            font-weight: 600;
          }
          &-subtitle {
            max-width: 100%;
            color: hslac($white, .7);
            font-size: $paragraph;
            font-weight: 300;
          }
          &-description {
            padding: 1em 0 0 0;
            max-width: 100%;
            color: hslac($white, .7);
            font-size: $paragraph;
            font-weight: 300;
          }
        }
        &-bottom {
          padding: 2.5em;
          width: 100%;
          @include flex-space-bet();

          &-item {
            gap: .5em;
            opacity: .5;
            @include flex-center();
            svg {
              width: 2.5em; height: 2.5em;
              g {
                g {
                  stroke: hslac($white, 1);
                }
              }
            }
          }
        }
        &-shadow {
          top: 1em;
          width: 100%; height: 100%;
          position: absolute;
          background-color: hslac($black, .3);
          filter: blur(1.5rem);
          z-index: -1;
        }
      }
      &-box-comments {
        width: 100%;
        padding: 2.5em;
        position: relative;
        background-color: hslac($black, 0);
        border: 1px solid hslac($white, .1);
        border-radius: 2.5rem;
        backdrop-filter: blur(1.5rem) brightness(70%);
        gap: 3em;
        @include flex-col();

        &-top {
          width: 100%;
          &-title {
            font-size: $paragraph-xlarge;
            font-weight: 600;
          }
        }
        &-shadow {
          top: 1em;
          width: 100%;
          height: 100%;
          position: absolute;
          background-color: hslac($black, .3);
          filter: blur(1.5rem);
          z-index: -1;
        }
      }
    }
  }
}
.player {
  width: 100%; height: 100%;
  position: relative;
  background-color: hslac($black, 1);
  @include flex-center();

  &-overlay {
    width: 100%; height: 100%;
    position: absolute;
    z-index: 6;
  }
  &-video {
    height: 100%;
    position: absolute;
    z-index: 5;
  }
  &-popup {
    position: absolute;
    width: 8em; height: 8em;
    background-color: hslac($black, 0);
    border: 1px solid hslac($white, .1);
    border-radius: 50%;
    backdrop-filter: blur(1.5rem) brightness(60%);
    transform: scale(1, 1);
    opacity: 0;
    pointer-events: none;
    transition: all .15s cubic-bezier($transition-smooth, 1);
    z-index: 100;
    @include flex-center();

    svg {
      width: 4em; height: 4em;
      path {
        stroke: hslac($white, .5);
      }
    }
    .video-play-play {
      padding: 0 0 0 .25em;
    }
  }
  &-bottom {
    bottom: 0;
    padding: 2em;
    width: 100%;
    position: absolute;
    z-index: 10;
    @include flex-center();

    &-inner {
      padding: 1em 2.5em 1em 2em;
      width: 100%;
      position: relative;
      display: grid;
      grid-template-columns: auto 1fr auto;
      background-color: hslac($black, 0);
      border: 1px solid hslac($white, .1);
      backdrop-filter: blur(1.5rem) brightness(80%);
      border-radius: 5em;
      gap: 2em;

      &-shadow {
        top: .75em;
        width: 100%; height: 100%;
        position: absolute;
        background-color: hslac($black, .35);
        transform: scale(.98, .98);
        filter: blur(2rem);
        z-index: 9;
      }
      &-left {
        height: 100%;
        position: relative;
        gap: 1em;
        z-index: 10;
        @include flex-center();

        &-icon {
          cursor: pointer;
          @include flex-center();
        }
        .icon-small {
          padding: .25em;
          svg {
            width: 2em; height: 2em;
            path {
              stroke: hslac($white, .7);
            }
          }
        }
        .video-play {
          padding: .5em;
          background-color: hslac($black, 0);
          border: 1px solid hslac($white, .1);
          border-radius: 50%;
          transition: all .3s cubic-bezier($transition-main, 1);
          svg {
            width: 2.5em; height: 2.5em;
            path {
              stroke: hslac($white, .7);
            }
          }
          &:hover {
            background-color: hslac($black, .15);
          }
        }
        .video-play-play {
          padding: 0 0 0 .25em;
        }
        &-audio {
          height: 100%;
          display: grid;
          grid-template-columns: auto 1fr;
          &:hover {
            .player-bottom-inner-left-audio-bar {
              width: 8em;
              opacity: 1;
            }
          }
          &-icon {
            padding: .25em;
            cursor: pointer;
            @include flex-center();

            svg {
              width: 2.5em; height: 2.5em;
              path {
                stroke: hslac($white, .7);
              }
            }
          }
          &-bar {
            width: 0; height: 100%;
            position: relative;
            cursor: pointer;
            opacity: 0;
            transition: all .3s cubic-bezier($transition-main, 1);
            @include flex-center();

            &-progress {
              left: 0;
              width: 0; height: 2px;
              position: absolute;
              background: hslac($white, 1);
              border-radius: 5em 0 0 5em;
            }
            &-input {
              -webkit-appearance :none;
              -moz-appearance :none;
              appearance :none;
              margin: 0;
              width: 100%; height: 100%;
              background: hslac($white, 0);
              cursor: pointer;

              &::-webkit-slider-thumb {
                -webkit-appearance :none;
                -moz-appearance :none;
                appearance :none;
                margin-top: -2px; margin-left: 0;
                width: 6px; height: 6px;
                background-color: hslac($white, 1);
                border-radius: 50%;
              }
              &::-webkit-slider-runnable-track {
                height: 2px;
                background-color: hslac($white, .1);
                border-radius: 5em;
              }
              &::-webkit-progress-value {
                height: 2px;
                background: hslac($white, 1);
              }
              &::-moz-range-progress {
                height: 2px;
                background: hslac($white, 1);
              }
            }
            &-inner {
              width: 100%; height: 2px;
              position: relative;
              background-color: hslac($white, .1);
              border-radius: 5em;
              @include flex-left();

              &-progress {
                width: 100%; height: 100%;
                position: absolute;
                background-color: hslac($white, 1);
                border-radius: 5em;
                @include flex-right();

                &-dot {
                  right: -3px;
                  width: 6px; height: 6px;
                  position: absolute;
                  background-color: hslac($white, 1);
                  border-radius: 50%;
                }
              }
            }
          }
        }
        &-time {
          gap: 1em;
          @include flex-center();

          p {
            width: 100%;
            color: hslac($white, .7);
            white-space: nowrap;
            gap: .5em;
            @include flex-center();
          }
          &-small {
            font-size: $paragraph-small;
          }
        }
      }
      &-center {
        width: 100%; height: 100%;
        position: relative;
        z-index: 10;
        @include flex-center();

        &-thumbnail {
          top: -8em;
          width: 10em;
          position: absolute;
          opacity: 0;
          pointer-events: none;
          transition: all .1s cubic-bezier($transition-main, 1);
          &-inner {
            height: 8em;
            position: relative;
            @include flex-center();

            img {
              height: 100%;
              position: relative;
              border-radius: 1em;
              z-index: 16;
            }
            &-shadow {
              top: .75em;
              width: 100%; height: 100%;
              position: absolute;
              background-color: hslac($black, .55);
              transform: scale(.98, .98);
              filter: blur(2rem);
              z-index: 15;
            }
          }
        }
        &-bar {
          width: 100%; height: 100%;
          position: relative;
          cursor: pointer;
          @include flex-center();

          &-progress {
            left: 0;
            width: 0; height: 3px;
            position: absolute;
            background: hslac($primary, 1);
            border-radius: 5em 0 0 5em;
          }
          &-input {
            -webkit-appearance :none;
            -moz-appearance :none;
            appearance :none;
            margin: 0;
            width: 100%; height: 100%;
            background: hslac($white, 0);
            cursor: pointer;

            &:hover {
              &::-webkit-slider-thumb {
                transform: scale(1, 1);
              }
            }
            &::-webkit-slider-thumb {
              -webkit-appearance :none;
              -moz-appearance :none;
              appearance :none;
              margin-top: -2px; margin-left: 0;
              width: 7px; height: 7px;
              background-color: hslac($primary, 1);
              border-radius: 50%;
              transition: transform .3s cubic-bezier($transition-main, 1);
            }
            &::-webkit-slider-runnable-track {
              height: 3px;
              background-color: hslac($white, .1);
              border-radius: 5em;
            }
            &::-webkit-progress-value {
              height: 3px;
              background: hslac($primary, 1);
            }
            &::-moz-range-progress {
              height: 3px;
              background: hslac($primary, 1);
            }
          }
          &-inner {
            width: 100%; height: 3px;
            position: relative;
            background-color: hslac($white, .1);
            border-radius: 5em;
            @include flex-left();

            &-progress {
              width: 0; height: 100%;
              position: absolute;
              background-color: hslac($primary, 1);
              border-radius: 5em;
              @include flex-right();

              &-dot {
                right: -4px;
                width: 7px; height: 7px;
                position: absolute;
                background-color: hslac($primary, 1);
                transform: scale(0, 0);
                transition: all .1s cubic-bezier($transition-main, 1);
                border-radius: 50%;
              }
            }
          }
          &:hover {
            .player-bottom-inner-center-bar-inner-progress-dot {
              transform: scale(1, 1);
            }
          }
        }
      }
      &-right {
        position: relative;
        gap: 1em;
        z-index: 10;
        @include flex-center();

        &-icon {
          padding: .25em;
          cursor: pointer;
          @include flex-center();

          svg {
            width: 2em; height: 2em;
            path {
              stroke: hslac($white, .7);
            }
          }
        }
      }
    }
  }
}
.video-inner-left-box.fullscreen {
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  position: fixed;
  aspect-ratio: auto;
  border-radius: 0;
  z-index: 100000;
}

#canvas {
  top: 0;
  width: 100%;
  aspect-ratio: 16 / 9;
  position: absolute;
  filter: blur(15rem);
  transform: scale(1.5, 1.5);
  opacity: .5;
}
#canvas.fullscreen {
  display: none;
}