.videos {
  margin: 3em 0 0 0;
  width: 100%;
  @include flex-center();
  @media (max-width: $layout-breakpoint-xsmall) {
    margin: 11em 0 0 0;
  }

  &-inner-4 {
    row-gap: 4em;
    column-gap: 2em;
    grid-template-columns: repeat(auto-fill, minmax(26em, 1fr));
    @media (max-width: $layout-breakpoint-msmall) {
      gap: 1em;
    }
    @media (max-width: $layout-breakpoint-xsmall) {
      gap: 2em;
    }
  }
  &-inner {
    display: grid;

    &-item {
      width: 100%;
      position: relative;
      gap: 1.6em;
      @include flex-col-start-center();

      &:hover {
        .videos-inner-item-video-overlay {
          opacity: 0;
        }
        .videos-inner-item-video-info-time {
          opacity: 0;
        }
        .videos-inner-item-info-line {
          opacity: 1;
        }
        .videos-inner-item-background {
          transform: scale(.9, .9);
          opacity: .8;
        }
      }
      &-video {
        width: 100%;
        aspect-ratio: 16 / 9;
        position: relative;
        background-color: hslac($black, 1);
        border-radius: 2em;
        overflow: hidden;
        cursor: pointer;
        @include flex-center();

        &-info {
          left: 0; bottom: 0;
          padding: 1em;
          width: 100%;
          position: absolute;
          z-index: 100;
          @include flex-right();

          &-time {
            padding: 1em 1.4em;
            position: relative;
            background-color: hslac($black, 0);
            backdrop-filter: blur(1.5rem) brightness(70%);
            border-radius: 5em;
            opacity: 1;
            transition: all .25s cubic-bezier($transition-smooth, 1);
            @include flex-center();

            p {
              color: hslac($white, .7);
              font-size: $paragraph;
            }
            &-shadow {
              top: .5em;
              width: 100%; height: 100%;
              position: absolute;
              background-color: hslac($black, .15);
              transform: scale(.8, .8);
              filter: blur(1rem);
              z-index: -1;
            }
          }
        }
        &-overlay {
          width: 100%; height: 100%;
          position: absolute;
          background: linear-gradient(7deg, hslac($black, .54) 0, hslac($black, 0) 100%);
          transition: all .25s cubic-bezier($transition-smooth, 1);
          pointer-events: none;
          z-index: 3;
        }
        &-video {
          width: 100%;
          position: absolute;
          z-index: 2;
        }
        &-background {
          width: 100%;
          position: absolute;
          object-fit: cover;
          pointer-events: none;
          z-index: 2;
        }
      }
      &-info {
        bottom: 0;
        width: 100%;
        display: grid;
        position: relative;
        grid-template-columns: auto 1fr;
        place-items: flex-start;
        gap: 1.2em;
        transition: all .25s cubic-bezier($transition-smooth, 1);
        z-index: 5;
        &-line {
          bottom: 0; left: 0;
          width: 100%;
          position: absolute;
          border-radius: 5em;
          opacity: 0;
          transition: all .25s cubic-bezier($transition-smooth, 1);
          z-index: 4;
          @include flex-left();

          &-progress {
            width: 0; height: 3px;
            position: relative;
            background-color: hslac($primary, 1);
            border-radius: 5em;
            transition: all .25s cubic-bezier($transition-smooth, 1);
            z-index: 5;

            &-glow {
              top: .05em;
              width: 100%; height: 100%;
              position: absolute;
              background-color: hslac($primary, .6);
              transform: scale(.98, .98);
              filter: blur(.75rem);
              z-index: 5;
            }
          }
        }
        &-left {
          &-image {
            width: 4em;
            border-radius: 50%;
          }
        }
        &-right {
          @include flex-col-left();

          &-title {
            margin: 0 0 .4em 0;
            max-width: 100%;
            max-height: calc(calc($paragraph-medium * 2) + .5rem);
            line-height: $paragraph-medium;
            color: hslac($white, 1);
            text-decoration: none;
            font-size: $paragraph-medium;
            font-weight: 600;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            white-space: normal;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          &-name {
            margin: 0 0 .1em 0;
            gap: .5em;
            text-decoration: none;
            @include flex-center();

            &:hover {
              span {
                color: hslac($white, 1);
              }
            }
            span {
              max-width: 100%;
              max-height: calc($paragraph-large + .5rem);
              line-height: $paragraph-large;
              color: hslac($white, .7);
              font-size: $paragraph;
              font-weight: 300;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
              white-space: normal;
              text-overflow: ellipsis;
              overflow: hidden;
              transition: all .25s cubic-bezier($transition-smooth, 1);
            }
            svg {
              height: $paragraph-large;
            }
          }
          &-info {
            max-width: 100%;
            max-height: calc($paragraph-large + .5rem);
            line-height: $paragraph-large;
            color: hslac($white, .7);
            text-decoration: none;
            font-size: $paragraph;
            font-weight: 300;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            white-space: normal;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }
    }
  }
}