.video {
  margin: 15em 0 0 0;
  width: 100%;
  @include flex-center();

  &-inner {
    display: grid;
    grid-template-columns: 1fr auto;
    place-items: flex-start;
    gap: 4em;
    &-left {
      width: 100%;
      gap: 4em;
      @include flex-col();

      &-box {
        width: 100%;
        aspect-ratio: 16 / 9;
        position: relative;
        background-color: hslac($white, 1);
        border-radius: 5em;
        overflow: hidden;
        @include flex-center();

        img {
          width: 100%;
          position: absolute;
          object-fit: cover;
        }
      }
      .videos {
        margin: 0;
        &-inner {
          width: 100%;
        }
      }
    }
    &-right {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      gap: 4em;
      &-box {
        padding: 2.5em;
        width: 100%;
        background-color: hslac($black, 0);
        border: 1px solid hslac($white, .5);
        border-radius: 2.5rem;
        backdrop-filter: blur(1.5rem) brightness(90%);
        gap: 3em;
        @include flex-col();

        &-top {
          width: 100%;
          &-title {
            font-size: $paragraph-xlarge;
            font-weight: 600;
          }
        }
        &-center {
          width: 100%;
          gap: 1em;
          @include flex-col();

          &-user {
            width: 100%;
            display: grid;
            position: relative;
            grid-template-columns: auto 1fr;
            place-items: center;
            gap: 1em;
            z-index: 5;

            &-container {
              width: 5em; height: 5em;
              position: relative;
              border-radius: 50%;
              overflow: hidden;
              @include flex-center();

              &-image {
                min-width: 100%; min-height: 100%;
                max-width: 105%;
                position: absolute;
                object-fit: cover;
              }
            }
            &-text {
              width: 100%;
              gap: .25em;
              @include flex-col-left();

              &-username {
                font-size: $paragraph-xlarge;
                font-weight: 700;
              }
              &-date {
                color: hslac($white, .5);
                font-size: $paragraph;
              }
            }
          }
          &-container {
            width: 100%;

            .mainbutton {
              width: 100%;
              font-size: $paragraph-medium !important;
            }
          }
        }
        &-bottom {
          width: 100%;
          @include flex-space-bet();

          &-item {
            gap: .5em;
            opacity: .5;
            @include flex-center();
            svg {
              width: 3em; height: 3em;
              g {
                g {
                  stroke: hslac($white, 1);
                }
              }
            }
          }
        }
        &-shadow {
          top: 1em;
          width: 100%; height: 100%;
          position: absolute;
          background-color: hslac($black, .5);
          filter: blur(1.5rem);
          z-index: -1;
        }
      }
    }
  }
}