.sidebar-videos {
  row-gap: 1em !important;
  grid-template-columns: repeat(auto-fill, minmax(22em, 1fr)) !important;
}
.page-center > div > div {
  overflow-x: hidden !important;
}
.videos {
  margin: 3em 0 0 0;
  width: 100%;
  @include flex-col();

  &-top {
    margin: 0 0 1em 0;
    &-title {
      color: hslac($white, .7);
      font-size: $paragraph-medium;
      font-weight: 600;
      @include lightMode {
        color: hslac($black, .7);
      }
    }
  }
  &-inner-4 {
    row-gap: 3em;
    column-gap: .5em;
    grid-template-columns: repeat(auto-fill, minmax(26em, 1fr));
    @media (max-width: $layout-breakpoint-msmall) {
      gap: 1em;
    }
    @media (max-width: $layout-breakpoint-xsmall) {
      gap: 2em;
    }
  }
  &-inner {
    display: grid;

    .vjs-control-bar {
      position: relative;
    }
    &-item {
      padding: .75em;
      width: 100%;
      position: relative;
      background-color: transparent;
      border: 1px solid hslac($white, 0);
      border-radius: 1.5em;
      gap: 1.6em;
      cursor: pointer;
      transition: background-color .1s cubic-bezier($transition-main, 1), border .15s cubic-bezier($transition-main, 1);
      @include flex-col-start-center();

      &:hover {
        .videos-inner-item-info-line {
          opacity: 1;
        }
        .videos-inner-item-background {
          transform: scale(.9, .9);
          opacity: .8;
        }
        .videos-inner-item-video {
          border-radius: .5em;
        }
      }
      &-link {
        width: 100%; height: 100%;
        position: absolute;
        z-index: 1;
      }
      &-video {
        width: 100%;
        aspect-ratio: 16 / 9;
        position: relative;
        background-color: hslac($background-lightgray, 1);
        border-radius: 1.5em;
        overflow: hidden;
        cursor: pointer;
        transition: all .3s cubic-bezier($transition-main, 1);
        @include flex-center();

        &-link {
          width: 100%; height: 100%;
          position: absolute;
          pointer-events: none;
          z-index: 1000;
        }
        &-info {
          left: 0; bottom: 0;
          padding: 1em;
          width: 100%;
          position: absolute;
          pointer-events: none;
          z-index: 1005;
          @include flex-right();

          &-time {
            padding: .9em 1.3em;
            position: relative;
            background-color: hslac($black, 0);
            backdrop-filter: blur(1rem) brightness(70%);
            border-radius: 5em;
            opacity: 1;
            transition: all .25s cubic-bezier($transition-smooth, 1);
            @include flex-center();

            p {
              color: hslac($white, .7);
              font-size: calc($paragraph - .1em);
            }
            &-shadow {
              top: .5em;
              width: 100%; height: 100%;
              position: absolute;
              background-color: hslac($black, .15);
              transform: scale(.8, .8);
              filter: blur(1rem);
              z-index: -1;
            }
          }
        }
        &-overlay {
          width: 100%; height: 100%;
          position: absolute;
          background: linear-gradient(7deg, hslac($black, .54) 0, hslac($black, 0) 100%);
          transition: all .25s cubic-bezier($transition-smooth, 1);
          pointer-events: none;
          z-index: 1003;
        }
        &-video {
          width: 100%;
          position: absolute;
          z-index: 2;
        }
        &-background {
          width: 100%;
          position: absolute;
          object-fit: cover;
          pointer-events: none;
          opacity: 0;
          transition: opacity .3s .1s cubic-bezier($transition-main, 1);
          z-index: 1001;
        }
      }
      &-info {
        bottom: 0;
        width: 100%;
        display: grid;
        position: relative;
        grid-template-columns: auto 1fr;
        place-items: flex-start;
        gap: 1.2em;
        transition: all .25s cubic-bezier($transition-smooth, 1);
        z-index: 5;
        &-line {
          bottom: 0; left: 0;
          width: 100%;
          position: absolute;
          border-radius: 5em;
          opacity: 0;
          transition: all .25s cubic-bezier($transition-smooth, 1);
          z-index: 4;
          @include flex-left();

          &-progress {
            width: 0; height: 3px;
            position: relative;
            background-color: hslac($primary, 1);
            border-radius: 5em;
            transition: all .25s cubic-bezier($transition-smooth, 1);
            z-index: 5;

            &-glow {
              top: .05em;
              width: 100%; height: 100%;
              position: absolute;
              background-color: hslac($primary, .6);
              transform: scale(.98, .98);
              filter: blur(.75rem);
              z-index: 5;
            }
          }
        }
        .creator-gradient {
          background: linear-gradient(-45deg, hslac($red, 1) 0, hslac($orange, 1) 100%);
          box-shadow: 0 3px 25px -3px hslac($primary, .35);
        }
        &-left {
          padding: .2em;
          position: relative;
          background: linear-gradient(-45deg, hslac($grooble, .1) 0, hslac($grooble, .05) 100%);
          border-radius: 50%;
          @include flex-center();

          &-live {
            bottom: -4px;
            position: absolute;
            background: linear-gradient(-45deg, hslac($red, 1) 0, hslac($orange, 1) 100%);
            border-radius: 2em;
            z-index: 6;
            @include flex-center();

            p {
              padding: .5em .75em;
              color: hslac($white, 1);
              font-size: $paragraph-small;
              font-weight: 500;
            }
          }
          &-image {
            padding: .2em;
            width: 4.25em; height: 4.25em;
            display: block;
            background-color: hslac($background-gray, 1);
            border-radius: 50%;
            @include lightMode {
              background-color: hslac($lm-background-gray, 1);
            }
          }
        }
        &-right {
          @include flex-col-left();

          &-title {
            margin: 0 0 .4em 0;
            max-width: 100%;
            max-height: calc(calc($paragraph-medium * 2) + .5rem);
            line-height: $paragraph-medium;
            color: hslac($white, 1);
            text-decoration: none;
            font-size: $paragraph-medium;
            font-weight: 600;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            white-space: normal;
            text-overflow: ellipsis;
            overflow: hidden;
            @include lightMode {
              color: hslac($black, 1);
            }
          }
          &-name {
            margin: 0 0 .1em 0;
            gap: .5em;
            text-decoration: none;
            @include flex-center();

            &:hover {
              span {
                color: hslac($white, 1);
                @include lightMode {
                  color: hslac($black, 1);
                }
              }
            }
            span {
              max-width: 100%;
              max-height: calc($paragraph-large + .5rem);
              line-height: $paragraph-large;
              color: hslac($white, .7);
              font-size: $paragraph;
              font-weight: 300;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
              white-space: normal;
              text-overflow: ellipsis;
              overflow: hidden;
              transition: all .25s cubic-bezier($transition-smooth, 1);
              @include lightMode {
                color: hslac($black, .7);
              }
            }
            svg, img {
              height: calc($paragraph-large - .4rem);
            }
          }
          &-info {
            max-width: 100%;
            max-height: calc($paragraph-large + .5rem);
            line-height: $paragraph-large;
            color: hslac($white, .7);
            text-decoration: none;
            font-size: $paragraph;
            font-weight: 300;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            white-space: normal;
            text-overflow: ellipsis;
            overflow: hidden;
            @include lightMode {
              color: hslac($black, .7);
            }
          }
        }
      }
    }
  }
}
.featuredvideo {
  width: 100%;
  &-inner {
    width: 100%;
    display: grid !important;
    grid-template-columns: 45% 35% 1fr;
    gap: 1.5em;
    &-left {

    }
    &-right {
      width: 100%; height: 100%;
      gap: 1em;
      @include flex-col-left-ns();

      &-top {
        width: 100%;
        &-title {
          margin: 0 0 .4em 0;
          max-width: 100%;
          max-height: calc(calc($paragraph-large * 2) + .5rem);
          line-height: $paragraph-large;
          color: hslac($white, 1);
          text-decoration: none;
          font-size: $paragraph-large;
          font-weight: 600;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          white-space: normal;
          text-overflow: ellipsis;
          overflow: hidden;
          @include lightMode {
            color: hslac($black, 1);
          }
        }
        &-subtitle {
          max-width: 100%;
          max-height: calc($paragraph-medium + .5rem);
          line-height: $paragraph-medium;
          color: hslac($white, .7);
          text-decoration: none;
          font-size: $paragraph;
          font-weight: 300;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          white-space: normal;
          text-overflow: ellipsis;
          overflow: hidden;
          @include lightMode {
            color: hslac($black, .7);
          }
        }
      }
      &-bottom {
        width: 100%; height: 100%;
        &-description {
          color: hslac($white, .7);
          font-size: $paragraph;
          @include lightMode {
            color: hslac($black, .7);
          }
        }
      }
    }
  }
}
.discovery {
  width: 100%;
  gap: 5em;
  @include flex-col();
}